<a href="https://colab.research.google.com/github/frank-morales2020/Cloud_curious/blob/master/Copy_of_FineTuning_T2SQL_GNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install Pytorch & other libraries
!pip install torch tensorboard --quiet

# Install Hugging Face libraries
!pip install  --upgrade transformers datasets accelerate evaluate bitsandbytes --quiet

#FlashAttention only supports Ampere GPUs or newer. #NEED A100 , L4  IN GOOGLE COLAB
!pip install -U flash-attn --no-build-isolation --quiet


! pip install peft --quiet
! pip install datasets trl ninja packaging --quiet

# Uncomment only if you're using A100 or L4 GPU
#!pip install flash-attn --no-build-isolation
!pip install diffusers safetensors  --quiet
!pip install colab-env --quiet

!pip install mistral_inference -q

!pip install trl==0.8.6 -q


!pip install torch-geometric -q
!pip install sqlparse networkx -q

!pip install bitsandbytes -q

In [2]:
import colab_env
import os

access_token_write = os.getenv("HUGGINGFACE_ACCESS_TOKEN_WRITE")

from huggingface_hub import login

#print(access_token_write)

login(
  token=access_token_write,
  add_to_git_credential=True
)

Mounted at /content/gdrive
Token is valid (permission: write).
Your token has been saved in your configured git credential helpers (store).
Your token has been saved to /root/.cache/huggingface/token
Login successful

In [3]:
import torch
import os
import sys
import json
import IPython
from datetime import datetime
from datasets import load_dataset
from peft import LoraConfig, PeftModel, prepare_model_for_kbit_training, get_peft_model
from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    AutoTokenizer,
    TrainingArguments,
     pipeline,
)
from trl import SFTTrainer

In [4]:
# set device
device = 'cuda'

In [5]:
torch.__version__

'2.3.1+cu121'

In [6]:
!python --version
!nvcc --version
!nvidia-smi

Python 3.10.12
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2023 NVIDIA Corporation
Built on Tue_Aug_15_22:02:13_PDT_2023
Cuda compilation tools, release 12.2, V12.2.140
Build cuda_12.2.r12.2/compiler.33191640_0
Mon Jul 15 10:37:34 2024
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 535.104.05             Driver Version: 535.104.05   CUDA Version: 12.2     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  NVIDIA L4                      Off | 00000000:00:03.0 Off |                    0 |
| N/A   41C    P8              16W /  72W |      4MiB / 23034MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|  No running processes found                                                           |
+---------------------------------------------------------------------------------------+

MISTRAL

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from trl import setup_chat_format


from huggingface_hub import login


login(
  token=access_token_write,
  add_to_git_credential=True
)

print()

# Hugging Face model id
model_id = "mistralai/Mistral-7B-Instruct-v0.3" #24 JUNE 2024

# BitsAndBytesConfig int-4 config
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True, bnb_4bit_use_double_quant=True, bnb_4bit_quant_type="nf4", bnb_4bit_compute_dtype=torch.bfloat16
)

# Load model and tokenizer
mistral_model = AutoModelForCausalLM.from_pretrained(
    model_id,
    device_map="auto",
    attn_implementation="flash_attention_2",
    torch_dtype=torch.bfloat16,
    quantization_config=bnb_config
)
tokenizer = AutoTokenizer.from_pretrained(model_id,use_fast=True)
tokenizer.padding_side = 'right' # to prevent warnings

# We redefine the pad_token and pad_token_id with out of vocabulary token (unk_token)
tokenizer.pad_token = tokenizer.unk_token
tokenizer.pad_token_id = tokenizer.unk_token_id

# # set chat template to OAI chatML, remove if you start from a fine-tuned model
mistral_model, tokenizer = setup_chat_format(mistral_model, tokenizer)

GNN #0

In [8]:
# 3. Load and Prepare Data
dataset = load_dataset("b-mc2/sql-create-context", split="train")
dataset = dataset.shuffle(seed=42).select(range(125))

Downloading readme:   0%|          | 0.00/4.43k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/21.8M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/78577 [00:00<?, ? examples/s]

In [23]:
dataset

Dataset({
    features: ['answer', 'question', 'context'],
    num_rows: 12500
})

In [19]:
import colab_env
import os
access_token_write = os.getenv("HUGGINGFACE_ACCESS_TOKEN_WRITE")
from huggingface_hub import login
#print(access_token_write)
login(
 token=access_token_write,
 add_to_git_credential=True
)

import torch
import os
import sys
import json
import IPython
from datetime import datetime
from datasets import load_dataset
from peft import LoraConfig, PeftModel, prepare_model_for_kbit_training, get_peft_model
from transformers import (
 AutoModelForCausalLM,
 AutoTokenizer,
 BitsAndBytesConfig,
 AutoTokenizer,
 TrainingArguments,
 pipeline,
)
from trl import SFTTrainer

# set device
device = 'cuda'


tokenizer.pad_token_id = tokenizer.unk_token_id
# # set chat template to OAI chatML, remove if you start from a fine-tuned model
mistral_model, tokenizer = setup_chat_format(mistral_model, tokenizer)

# GNN
import torch
from torch.utils.data import Dataset, DataLoader
from datasets import load_dataset
from torch_geometric.data import Data, Batch # Import Batch here
import torch.nn.functional as F
from torch_geometric.nn import GCNConv, global_mean_pool # Import global_mean_pool here
import torch.optim as optim
from tqdm.auto import tqdm
import evaluate
import numpy as np

# 1. Graph Construction
import torch
import sqlparse
import networkx as nx
from torch_geometric.data import Data
from tqdm import tqdm

def sql_to_graph(question, schema, answer):
    try:
        # 1. Parse SQL Query (with robust error handling)
        try:
            statements = sqlparse.parse(question)
            print(f"Parsed statements: {statements}")
        except sqlparse.exceptions.SQLParseError as e:
            # Attempt to fix common parsing issues
            fixed_question = question.replace(';', '')
            try:
                statements = sqlparse.parse(fixed_question)
                print(f"Warning: SQL parsing initially failed for '{question}', but succeeded after removing semicolon(s).")
            except sqlparse.exceptions.SQLParseError as fixed_e:
                print(f"Warning: SQL parsing failed for '{question}' (even after fix attempt): {fixed_e}. Skipping example.")
                return None
        except ValueError as e:  # Catch potential errors in the context dict
            print(f"Warning: Context dict Value Error: '{question}': {e}. Skipping example.")
            return None
        except Exception as e:  # Catch any other unexpected parsing errors
            print(f"Unexpected error while parsing '{question}': {e}. Skipping example.")
            return None

        # 2. Create Graph
        G = nx.DiGraph()
        current_table = None
        for stmt in statements:
            if stmt.get_type() == "SELECT":
                select_items = [token for token in stmt if isinstance(token, sqlparse.sql.IdentifierList)]
                for item in select_items:
                    for token in item.get_identifiers():
                        G.add_node(token.value)  # Add column name as node (for SELECT)

            for token in stmt.flatten():
                if token.ttype is sqlparse.tokens.Keyword:
                    G.add_node(token.value.upper())
                    if token.value.upper() in ["FROM", "JOIN"]:
                        # Handle multi-table queries or subqueries
                        try:
                            current_table = next(token.flatten()).value
                        except StopIteration:
                            print(
                                f"Warning: No table found after 'FROM' or 'JOIN' in '{question}'. Skipping example."
                            )
                            return None
                elif token.ttype in (sqlparse.tokens.Name, sqlparse.tokens.Wildcard):
                    G.add_node(token.value)
                    if current_table:
                        G.add_edge(current_table, token.value)

        # Check if graph is empty
        if G.number_of_nodes() == 0 or G.number_of_edges() == 0:
            print(f"Warning: Empty graph generated for: {question}")
            return None

        # 3. Extract Node Features
        node_features = []
        for node in G.nodes():
            feature = [
                1 if node in ["SELECT", "FROM", "WHERE", "GROUP BY", "ORDER BY", "HAVING", "LIMIT", "JOIN"] else 0,  # Keyword feature
                1 if node in schema.get("table_names_original", []) else 0,  # Table feature
                1 if node in schema.get("column_names_original", []) else 0,  # Column feature
                1 if node.upper() in ["COUNT", "SUM", "AVG", "MAX", "MIN"] else 0,  # Aggregate function feature
            ]
            node_features.append(feature)

        # 4. Extract Edge Features (simple for now)
        edge_features = [[1]] * len(G.edges())

        # 5. Convert to PyTorch Geometric Data
        try:
            x = torch.tensor(node_features, dtype=torch.float)
            edge_index = torch.tensor(list(G.edges())).t().contiguous()

            # Tokenize answer, handling potential errors (KeyError for empty answers)
            try:
                answer_tokens = tokenizer(answer, return_tensors="pt")["input_ids"]
            except KeyError as e:
                print(f"Warning: Empty or untokenizable answer for '{question}': {e}. Skipping example.")
                return None
            y = answer_tokens

            # Add prints for intermediate values in `sql_to_graph`
            print(f"Graph Nodes: {G.nodes()}")
            print(f"Graph Edges: {G.edges()}")
            print(f"Node Features:\n{x}")
            print(f"Edge Index:\n{edge_index}")
            print(f"Answer Tokens: {y}")

            if x.size(0) == 0 or edge_index.size(0) == 0 or y.size(0) == 0:
                raise ValueError("Empty graph, features, or answer tokens.")

            return Data(x=x, edge_index=edge_index, y=y)

        except Exception as e:
            print(f"Error converting to PyG Data for '{question}': {e}")
            return None

    except Exception as e:
        print(f"Unexpected error in sql_to_graph for '{question}': {e}. Skipping example.")
        return None  # Return None on any unexpected error


# 1. Placeholder Conversion Function
import torch
from torch_geometric.data import Data
from tqdm import tqdm
import sqlparse

def is_valid_schema(context):
    # Since the dataset already has the schema in the correct format, no need for conversion
    return "table_names_original" in context and "column_names_original" in context

import torch
from torch_geometric.data import Data
from tqdm import tqdm

def is_valid_schema(context):
    return "table_names_original" in context and "column_names_original" in context

def convert_to_gnn(dataset):
    dataset_gnn = []
    failed_queries = []
    valid_query_count = 0

    with tqdm(total=len(dataset), desc="Converting to GNN") as loop:
        for i, example in enumerate(dataset):
            loop.set_description(f"Converting to GNN ({int(100 * i / len(dataset))}%)")

            question = example["question"]
            context = example["context"]
            answer = example["answer"]


            #print(f"\nProcessing example {i}: {question}")
            #print(f"With context: {context}")

            # Check if the context contains valid schema information
            if not is_valid_schema(context):
                #print(f"Skipping example {i} (Invalid schema): '{question}'")
                failed_queries.append(question)
                loop.update(1)
                continue

            try:
                table_names = context.get("table_names_original", [])
                column_names = context.get("column_names_original", [])
            except AttributeError as e:  # Catch if context is not a dictionary
                print(f"Warning: Context not a dictionary in example {i}: '{question}'. Skipping example.")
                failed_queries.append(question)
                loop.update(1)
                continue
            except Exception as e: # Check for invalid data
                print(f"Warning: Unexpected error in schema: '{question}': {e}. Skipping example.")
                failed_queries.append(question)
                loop.update(1)
                continue

            if not table_names or not column_names:  # Check for missing keys
                print(f"Skipping example {i} (Missing table or column names): '{question}'")
                failed_queries.append(question)
                loop.update(1)
                continue

            if not all(isinstance(name, str) for name in table_names) or not all(isinstance(name, str) for name in column_names):
                # Check if all elements in lists are strings
                print(f"Skipping example {i} (Invalid table/column name type): '{question}'")
                failed_queries.append(question)
                loop.update(1)
                continue


            try:
                graph = sql_to_graph(question, context, answer)
                if graph is None:
                    print(f"Warning: sql_to_graph returned None for example {i}: '{question}'. Skipping example.")
                    print(f"Context for failed query: {context}")   # Print the context here

                    failed_queries.append(question)
                elif graph.num_nodes == 0 or graph.num_edges == 0:
                    print(f"Warning: Empty graph generated for example {i}: '{question}'. Schema: {context}")
                    failed_queries.append(question)
                else:
                    print(f"Successfully generated graph for example {i}")
                    dataset_gnn.append(graph)
                    valid_query_count += 1
            except Exception as e:
                #print(f"Error processing example {i}: '{question}': {e}")
                #print(f"Schema for the failed query: {context}")
                failed_queries.append(question)

            loop.update(1)  # Update progress bar after each example

    # Final summary and check
    print(f"\nTotal valid queries processed: {valid_query_count}")
    print(f"Total invalid queries: {len(failed_queries)}")


    if failed_queries:
        print("\nFirst 10 failed queries and their schemas:")
        for query, ctx in zip(failed_queries[:10], [dataset[i]["context"] for i in range(len(failed_queries))[:10]]):
            print(f"- Query: {query}")
            print(f"  Schema: {ctx}\n")

    return dataset_gnn



class SQLGraphDataset(Dataset):
 def __init__(self, data):
  self.data = data
 def __len__(self):
  return len(self.data)
 def __getitem__(self, index):
  entry = self.data[index]
  question = entry["question"]
  schema = entry["context"]
  answer = entry["answer"]
  return sql_to_graph(question, schema, answer)


# 2. GNN Model
from torch_geometric.nn import GATConv
class SQLGNN(torch.nn.Module): # Inherit from torch.nn.Module
 def __init__(self, input_dim, hidden_dim, output_dim, heads=8):
  super(SQLGNN, self).__init__() # Call superclass constructor
  self.conv1 = GATConv(input_dim, hidden_dim, heads=heads, dropout=0.6)
  self.conv2 = GATConv(hidden_dim * heads, output_dim, heads=1, concat=False, dropout=0.6)

 def forward(self, data):
  x, edge_index, batch = data.x.to(device), data.edge_index.to(device), data.batch.to(device)  # Move graph data to GPU
  x = F.elu(self.conv1(x, edge_index))
  x = F.dropout(x, p=0.6, training=self.training)
  x = self.conv2(x, edge_index)
  x = global_mean_pool(x, batch)  # Global Mean Pooling for graph-level representation
  return x

 # Add this method to explicitly define saving state dictionary
 def save_state_dict(self, filepath):
    torch.save(super().state_dict(), filepath)


# Define a custom collate function to handle batching of graphs and text data

from torch.nn.utils.rnn import pad_sequence

def collate_fn(batch):
    # Filter out 'None' values from the batch
    batch = [data for data in batch if data is not None]

    if not batch:  # If the batch is empty after filtering
        print("Warning: Empty batch encountered. Skipping this batch.")
        return None, None, None, None

    graphs, questions, schemas, answers = [], [], [], []

    for i, data in enumerate(batch):
        if data.edge_index.numel() > 0:  # Check if the graph has edges
            graphs.append(data)
            questions.append(dataset[i]["question"])
            schemas.append(dataset[i]["context"])

            # Handle different answer formats
            if isinstance(data.y, torch.Tensor):
                answers.append(data.y.tolist())
            else:
                answers.append(data.y)

    if not graphs:  # Handle case where all graphs in the batch are empty
        print("Warning: All graphs in the batch are empty. Skipping this batch.")
        return None, None, None, None

    # Pad edge_index to the maximum length in the batch
    max_edges = max([data.num_edges for data in graphs])
    for data in graphs:
        padding = max_edges - data.num_edges
        if padding > 0:
            pad = torch.zeros(2, padding, dtype=torch.long)
            data.edge_index = torch.cat([data.edge_index, pad], dim=1)

    # Pad node features (x) to the maximum number of nodes
    max_nodes = max([data.num_nodes for data in graphs])
    for data in graphs:
        padding = max_nodes - data.num_nodes
        if padding > 0:
            pad = torch.zeros(padding, data.x.size(1), dtype=torch.float)  # Pad with zeros of the same feature dimension
            data.x = torch.cat([data.x, pad], dim=0)

    return Batch.from_data_list(graphs), questions, schemas, answers





# 3. Load and Prepare Data
from torch.utils.data import DataLoader, RandomSampler, SequentialSampler

dataset = load_dataset("b-mc2/sql-create-context", split="train")
dataset = dataset.shuffle(seed=42).select(range(12500))

# Print a sample of the dataset to check if the schema and tables are in the correct format
print('\n\n')
print('Print a sample of the dataset to check if the schema and tables are in the correct format')
print(dataset[:2])
print('\n\n')


# Split dataset
train_size = int(0.8 * len(dataset))
print(f'train size: {train_size}')

train_dataset = dataset[:train_size]
val_dataset = dataset[train_size:]

#print(len(train_dataset))
#print(len(val_dataset))

train_loader = DataLoader(train_dataset, batch_size=4, shuffle=True, collate_fn=collate_fn)
val_loader = DataLoader(val_dataset, batch_size=4, collate_fn=collate_fn)


# Convert to GNN format
dataset_gnn = convert_to_gnn(dataset)

print(f"Number of successful graphs: {len(dataset_gnn)}")
print(f"Dataset examples are all strings: {all(isinstance(example['question'], str) for example in dataset)}")

# Analyze the Results
print(f"Total number of examples: {len(dataset)}")
#print(f"Number of failed queries: {len(failed_queries)}")



import warnings
# Check if dataset_gnn has at least one valid graph and the split will work
if not dataset_gnn:
    warnings.warn("No valid graphs were generated. Check the 'sql_to_graph' function and the dataset for errors.", UserWarning)
else:
    #4. Initialize Model, Loss, and Optimizer
    print(f'Number of successful graphs; {len(dataset_gnn)}')
    input_dim = dataset_gnn[0].num_node_features
    hidden_dim = 64
    output_dim = 128 # Assuming a generation task for simplicity
    model = SQLGNN(input_dim, hidden_dim, output_dim).to(device)
    optimizer = optim.Adam(model.parameters(), lr=0.001)

print(f"Length of train_dataset: {len(train_loader)}")
print(f"Length of val_dataset: {len(val_loader)}")

# For generation:
criterion = torch.nn.CrossEntropyLoss(ignore_index=0) # Ignore padding in loss calculation
# For classification:
# criterion = torch.nn.BCEWithLogitsLoss() # Or other suitable loss

# 5. Training and Evaluation Functions
bleu = evaluate.load("bleu")
tokenizer.padding_side = 'left'
import torch.nn.functional as F  # Import F for the loss function


def train(model, mistral_model, loader, optimizer, mistral_optimizer, epoch, num_epochs):
    model.train()
    mistral_model.train()
    total_loss = 0

    #loop = tqdm(loader, total=len(loader), desc=f"Epoch {epoch+1}/{num_epochs}")
    #for data, questions, schemas, answers in loop:
    total_loss = 0
    loop = tqdm(loader, total=len(loader), desc=f"Epoch {epoch+1}/{num_epochs}")
    for batch_data in loop:
        if batch_data is None:  # Check if batch is None
            continue  # Skip the batch if it's None

        data, questions, schemas, answers = batch_data  # Unpack the batch

        # Initialize graph_embeddings with an empty list
        graph_embeddings = []

        # Check if the graph data is None
        if data is not None:
            data = data.to(device)
            graph_embeddings = model(data)  # Get embeddings from GNN

        # Filter out None values from graph_embeddings
        valid_graph_embeddings = [g for g in graph_embeddings if g is not None]

        optimizer.zero_grad()
        mistral_optimizer.zero_grad()

        # Initialize mistral_inputs with an empty list
        mistral_inputs = []

        # Prepare Mistral Input
        if valid_graph_embeddings:
          mistral_inputs = [f"Question: {q}\nSchema: {s}\nGraph Embedding: {g}" for q, s, g in zip(questions, schemas, valid_graph_embeddings)]

          # Check if mistral_inputs is empty
          if mistral_inputs:
            # Tokenize and generate SQL using Mistral, increase max length
             tokenized_inputs = tokenizer(mistral_inputs, return_tensors="pt", padding=True, truncation=True, max_length=512)

          # Check for empty tokenized inputs
          for i, input_ids in enumerate(tokenized_inputs['input_ids']):
              if input_ids.numel() == 0:
                  print(f"Warning: Input example {i} has no tokens after encoding.")
                  # Handle empty example (skip or replace)

          tokenized_inputs = tokenized_inputs.to(device)

          # Set padding side to left before tokenizing
          tokenizer.padding_side = 'left'

          # Get logits for loss calculation (instead of generating)
          outputs = mistral_model(**tokenized_inputs, labels=tokenized_inputs["input_ids"])
          loss = outputs.loss
          total_loss += loss.item()

          # Backpropagation
          loss.backward()
          optimizer.step()
          mistral_optimizer.step()

          loop.set_postfix(loss=loss.item())

    avg_loss = total_loss / len(loader)
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {avg_loss:.4f}")

    %cd /content/
    #Save GNN model - UNCOMMENT THESE LINES
    model.save_state_dict(f"gnn_model_epoch_{epoch+1}.pth")
    print(f"GNN Model saved to gnn_model_epoch_{epoch+1}.pth")

Token is valid (permission: write).
Your token has been saved in your configured git credential helpers (store).
Your token has been saved to /root/.cache/huggingface/token
Login successful



Print a sample of the dataset to check if the schema and tables are in the correct format
{'answer': ['SELECT venue FROM table_name_50 WHERE away_team = "essendon"', 'SELECT MIN(game) FROM table_name_61 WHERE opponent = "phoenix" AND record = "29-17"'], 'question': ['When Essendon played away; where did they play?', 'What is the lowest numbered game against Phoenix with a record of 29-17?'], 'context': ['CREATE TABLE table_name_50 (venue VARCHAR, away_team VARCHAR)', 'CREATE TABLE table_name_61 (game INTEGER, opponent VARCHAR, record VARCHAR)']}



train size: 10000

Converting to GNN (99%): 100%|██████████| 12500/12500 [00:19<00:00, 642.92it/s]

Total valid queries processed: 0
Total invalid queries: 12500

First 10 failed queries and their schemas:
- Query: When Essendon played away; where did they play?
  Schema: CREATE TABLE table_name_50 (venue VARCHAR, away_team VARCHAR)

- Query: What is the lowest numbered game against Phoenix with a record of 29-17?
  Schema: CREATE TABLE table_name_61 (game INTEGER, opponent VARCHAR, record VARCHAR)

- Query: Who did the Texan's play on Week 4?
  Schema: CREATE TABLE table_name_37 (opponent VARCHAR, week VARCHAR)

- Query: Which Points have Touchdowns larger than 0, and an Extra points smaller than 0?
  Schema: CREATE TABLE table_name_70 (points INTEGER, touchdowns VARCHAR, extra_points VARCHAR)

- Query: What is the name of the player who is Sco and moving to greenock morton in the summer?
  Schema: CREATE TABLE table_name_83 (name VARCHAR, moving_to VARCHAR, nat VARCHAR, transfer_window VARCHAR)

- Query: Of all the contestants who got voted, what is the contestant number and name of the contestant who got least votes?
  Schema: CREATE TABLE votes (contestant_number VARCHAR); CREATE TABLE contestants (contestant_number VARCHAR, contestant_name VARCHAR)

- Query: Which venue had the result 7-1?
  Schema: CREATE TABLE table_name_50 (venue VARCHAR, result VARCHAR)

- Query: What did the tournament that got an A in 1945 get in 1949?
  Schema: CREATE TABLE table_name_22 (Id VARCHAR)

- Query: Find the states where have the colleges whose enrollments are less than the largest size.
  Schema: CREATE TABLE college (state VARCHAR, enr INTEGER)

- Query: What is the name of the episode that had 9.89 million U.S. viewers?
  Schema: CREATE TABLE table_24648983_1 (title VARCHAR, us_viewers__million_ VARCHAR)

Number of successful graphs: 0
Dataset examples are all strings: True
Total number of examples: 12500
Length of train_dataset: 1
Length of val_dataset: 1

<ipython-input-19-5f0913dbebbe>:391: UserWarning: No valid graphs were generated. Check the 'sql_to_graph' function and the dataset for errors.
  warnings.warn("No valid graphs were generated. Check the 'sql_to_graph' function and the dataset for errors.", UserWarning)

In [17]:
len(train_dataset)

3

In [18]:
len(train_loader)

1

In [14]:
len(val_loader)

1

GNN #1

In [20]:
print(train_dataset)

{'answer': ['SELECT venue FROM table_name_50 WHERE away_team = "essendon"', 'SELECT MIN(game) FROM table_name_61 WHERE opponent = "phoenix" AND record = "29-17"', 'SELECT opponent FROM table_name_37 WHERE week = "4"', 'SELECT SUM(points) FROM table_name_70 WHERE touchdowns > 0 AND extra_points < 0', 'SELECT name FROM table_name_83 WHERE nat = "sco" AND transfer_window = "summer" AND moving_to = "greenock morton"', 'SELECT T1.contestant_number, T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number = T2.contestant_number GROUP BY T1.contestant_number ORDER BY COUNT(*) LIMIT 1', 'SELECT venue FROM table_name_50 WHERE result = "7-1"', 'SELECT 1949 FROM table_name_22 WHERE 1945 = "a"', 'SELECT DISTINCT state FROM college WHERE enr < (SELECT MAX(enr) FROM college)', 'SELECT title FROM table_24648983_1 WHERE us_viewers__million_ = "9.89"', 'SELECT T2.Store_Name FROM Bookings AS T1 JOIN Drama_Workshop_Groups AS T2 ON T1.Workshop_Group_ID = T2.Workshop_Group_ID WHERE T1.Status_Code = "stop"', 'SELECT location FROM table_name_96 WHERE opponenent = "germany"', 'SELECT candidates FROM table_1342149_24 WHERE result = "Lost renomination Democratic loss"', 'SELECT COUNT(party) FROM table_1341930_5 WHERE district = "Arkansas 1"', 'SELECT COUNT(alt_name) FROM table_12141496_1 WHERE id = "1964-011A"', 'SELECT opponent FROM table_name_66 WHERE date = "november 20, 1995"', 'SELECT COUNT(tickets_sold___available) FROM table_16331025_2 WHERE sellout___percentage_ = "82%"', 'SELECT college_junior_club_team__league_ FROM table_name_98 WHERE round = "6"', 'SELECT SUM(introduced) FROM table_name_94 WHERE manufacturer = "fokker" AND quantity = 5 AND retired > 1999', 'SELECT audition_venue FROM table_27615445_1 WHERE guest_fourth_judge = "Peninha"', 'SELECT runner_s__up FROM table_1602858_1 WHERE tournament = "Memorial tournament"', 'SELECT bonus_points FROM table_name_83 WHERE drawn = "2" AND points_against = "599"', 'SELECT game FROM table_name_90 WHERE genre = "platformer"', 'SELECT individual FROM table_name_33 WHERE event = "1998 pokljuka"', 'SELECT AVG(pick__number) FROM table_name_21 WHERE college = "carson-newman" AND round < 7', 'SELECT spouse_to FROM table_name_27 WHERE born_as = "rania al yassin"', 'SELECT COUNT(wickets) FROM table_19662262_6 WHERE strike_rate = "54.0"', 'SELECT communist_ticket FROM table_name_49 WHERE american_labor_ticket = "joseph v. o\'leary"', 'SELECT hdi_2011 FROM table_name_54 WHERE di_2011 = "7.63"', 'SELECT SUM(against) FROM table_name_17 WHERE draws = 2 AND losses < 4', 'SELECT score FROM table_name_24 WHERE winners = "galatasaray" AND runners_up = "trabzonspor" AND year = 1990', 'SELECT runner_up FROM table_name_55 WHERE venue = "minikahda club"', 'SELECT catalog FROM table_name_33 WHERE label = "grilled cheese"', 'SELECT opponent FROM table_name_64 WHERE result = "w 24-14"', 'SELECT MAX(season) FROM table_2140071_7', 'SELECT surface FROM table_name_8 WHERE opponent_s_ = "anna-lena grönefeld tatjana malek"', 'SELECT TV AS season FROM table_1348989_2 WHERE season = "3rd"', 'SELECT fastest_lap FROM table_name_39 WHERE constructor = "ferrari" AND location = "zolder"', 'SELECT nba_draft FROM table_name_7 WHERE school = "northeast high school"', 'SELECT MAX(population__total_) FROM table_name_96 WHERE year = 1976 AND _barcaldine_ < 1 OFFSET 780', 'SELECT 1953 FROM table_name_48 WHERE 1949 = "2" AND 1952 = "3"', 'SELECT COUNT(losses) FROM table_name_50 WHERE played > 30', 'SELECT name FROM artist WHERE NOT artist_id IN (SELECT artist_id FROM exhibition)', 'SELECT Country FROM mountain WHERE Height > 5000', 'SELECT MAX(money___) AS £__ FROM table_name_95 WHERE player = "peter hedblom"', 'SELECT date_of_appointment FROM table_name_72 WHERE team = "vfl wolfsburg"', 'SELECT language FROM table_name_87 WHERE genre = "movies" AND service = "sky" AND network = "ump movies"', 'SELECT location FROM table_name_40 WHERE design_flow__lpm_ < 1900 AND construction_start = "2006 june"', 'SELECT hdtv FROM table_15887683_1 WHERE television_service = "Italia 1"', 'SELECT suffix FROM table_name_17 WHERE prefix = "isothiocyanato- (-ncs)"', 'SELECT AVG(enrollment) FROM table_name_3 WHERE school = "hamilton community"', 'SELECT date_of_return FROM table_29566606_11 WHERE programme = "Big Brother"', 'SELECT date FROM table_name_95 WHERE opponent = "patty fendick"', 'SELECT position FROM table_name_89 WHERE years_for_grizzlies = "2007-2009"', "SELECT date_from, date_to FROM Project_Staff WHERE role_code = 'researcher'", 'SELECT analog FROM table_name_9 WHERE callsign = "wxmi"', 'SELECT record FROM table_14951643_1 WHERE result = "W 21–7"', 'SELECT market_income_per_capita FROM table_22815568_3 WHERE status = "Distressed" AND unemployment_rate = "10.5%"', 'SELECT date FROM table_name_64 WHERE opponent_in_final = "guy forget"', 'SELECT time FROM table_16388047_1 WHERE date = "Saturday 4 March 1995"', 'SELECT MIN(win__percentage) FROM table_name_53 WHERE away = "3-2" AND season = "2011"', 'SELECT division FROM table_1046170_5 WHERE us_open_cup = "Did Not Qualify" AND year = 2003', 'SELECT album FROM table_name_74 WHERE length = "4:53"', 'SELECT format_s_ FROM table_name_15 WHERE label = "atlantic records" AND catalog = "512336"', 'SELECT COUNT(naming) FROM table_2088_1 WHERE type_of_aphasia = "Anomic aphasia"', 'SELECT result_f_a FROM table_name_55 WHERE league_position = "1st" AND date = "21 february 2009"', 'SELECT position FROM table_name_58 WHERE player = "dan o\'sullivan"', 'SELECT traditional FROM table_2013618_1 WHERE simplified = "屏南县"', 'SELECT district FROM table_2668352_14 WHERE incumbent = "Hugh Glasgow"', 'SELECT being__qualities_ FROM table_name_20 WHERE having__things_ = "friendships, family, relationships with nature"', 'SELECT no FROM table_27403436_1 WHERE production_code = "2J5809"', 'SELECT try_bonus FROM table_13399573_3 WHERE "tries_for" = "tries_for"', 'SELECT championship FROM table_1918850_2 WHERE opponents_in_the_final = "Arantxa Sánchez Vicario Todd Woodbridge"', 'SELECT MAX(tonnage) FROM table_name_71 WHERE nationality = "norway"', 'SELECT date FROM table_name_62 WHERE goal = 2', 'SELECT away_team FROM table_name_42 WHERE home_team = "newcastle united"', 'SELECT competition FROM table_17120964_9 WHERE opponent = "Sheffield Scimitars"', 'SELECT circuit FROM table_name_74 WHERE winning_driver = "hans-joachim stuck" AND round = 3', 'SELECT capacity__thousands_of_metric_tons_ FROM table_name_83 WHERE operator = "cyprus amax minerals"', 'SELECT partner FROM table_name_2 WHERE tournament = "algiers 2, algeria"', 'SELECT no_result FROM table_name_2 WHERE wins < 2 AND losses > 1', 'SELECT opponent FROM table_name_93 WHERE game > 72 AND record = "39-27-9"', 'SELECT COUNT(high_assists) FROM table_28768469_10 WHERE game = 73', 'SELECT mlb_team FROM table_18373863_2 WHERE years_played = "2008" AND fcsl_team = "DeLand"', 'SELECT COUNT(kickoff_)[a_] FROM table_11406866_2 WHERE "week" = "week"', 'SELECT position FROM table_2387790_2 WHERE year = 1987', 'SELECT MAX(total) FROM table_name_41 WHERE player = "gary player" AND to_par > 15', 'SELECT SUM(split__50m_) FROM table_name_24 WHERE name = "josefin lillhage" AND lane > 8', 'SELECT place FROM table_name_94 WHERE player = "jimmy demaret"', 'SELECT COUNT(goals_scored) FROM table_name_74 WHERE points > 45', 'SELECT score FROM table_23248940_9 WHERE game = 50', 'SELECT player FROM table_name_20 WHERE round > 2 AND position = "(d)"', 'SELECT score FROM table_name_27 WHERE place = "t9" AND country = "sweden"', 'SELECT attendance FROM table_name_98 WHERE date = "november 26"', 'SELECT third_place FROM table_25214321_1 WHERE winner = "Karina Bacchi"', 'SELECT date_of_appointment FROM table_27383390_4 WHERE position_in_table = 16', 'SELECT date FROM table_name_48 WHERE outcome = "winner" AND opponents = "paul haarhuis sandon stolle"', 'SELECT location FROM table_name_37 WHERE years_in_gfl = "1979-" AND nickname = "saints"', 'SELECT team FROM table_name_61 WHERE game > 55 AND date = "february 24"', 'SELECT monarch FROM table_26460435_8 WHERE heir = "Thado Minsaw"', 'SELECT MIN(long) FROM table_name_19 WHERE gain = 20 AND loss < 0', 'SELECT record FROM table_24136814_3 WHERE date = "September 7"', 'SELECT location FROM table_name_97 WHERE cause = "gas explosion" AND death_toll > 38 AND date = "10 june"', 'SELECT constructor FROM table_name_54 WHERE rounds = "1-2" AND driver = "divina galica"', 'SELECT AVG(crowd) FROM table_name_86 WHERE venue = "arden street oval"', 'SELECT home_team AS score FROM table_name_57 WHERE venue = "lake oval"', 'SELECT SUM(floors) FROM table_name_81 WHERE street_address = "800 boylston street"', 'SELECT MAX(cuts_made) FROM table_29506171_2 WHERE earnings___€__ = "n/a"', 'SELECT first_elected FROM table_1342370_39 WHERE incumbent = "William Francis Stevenson"', 'SELECT AVG(goals_scored) FROM table_name_78 WHERE played < 34 AND draw > 2', 'SELECT AVG(overall) FROM table_name_45 WHERE round = 10 AND name = "ed tomlin"', 'SELECT distinguished_service_cross FROM table_2104176_1 WHERE navy_cross = "Coast Guard Commendation Medal"', 'SELECT SUM(division) FROM table_name_69 WHERE country = "serbia and montenegro" AND apps < 12 AND goals > 0', 'SELECT birth_place FROM table_name_83 WHERE monarchs_served = "george v" AND entered_office = "23 october 1922"', 'SELECT driver FROM table_name_69 WHERE zan_2 = "5"', 'SELECT commercial_operation FROM table_name_48 WHERE gross_capacity = "417 mw" AND electricity_grid = "27.12.1971"', 'SELECT player FROM table_name_62 WHERE new_wnba_team = "miami sol" AND college_country_team = "north carolina state"', 'SELECT termination FROM table_1601027_1 WHERE us_msrp = "$49"', 'SELECT area__km²_ FROM table_14325808_1 WHERE density__pop_km²_ = "137.61"', 'SELECT SUM(total) FROM table_name_77 WHERE gold < 4 AND silver > 0 AND rank = "3" AND bronze < 6', 'SELECT MAX(rank) FROM table_name_87 WHERE wins__outdoor_ > 1 AND wins__indoor_ < 0', 'SELECT T1.part_name, T1.part_id FROM Parts AS T1 JOIN Part_Faults AS T2 ON T1.part_id = T2.part_id GROUP BY T1.part_id HAVING COUNT(*) > 2', 'SELECT winning_team FROM table_name_22 WHERE name = "south pacific trophy"', 'SELECT score FROM table_name_54 WHERE runner_up = "richard krajicek"', 'SELECT accreditation_level FROM table_name_7 WHERE hardware_model = "gt-i9100"', 'SELECT attendance FROM table_name_17 WHERE venue = "st andrew\'s"', 'SELECT opponent_in_the_final FROM table_name_24 WHERE date = "19 february 2006"', 'SELECT record FROM table_name_72 WHERE date = "october 27"', 'SELECT AVG(gold) FROM table_name_99 WHERE nation = "russia (rus)" AND silver < 2', 'SELECT elevated FROM table_name_13 WHERE nationality = "pisa"', 'SELECT church_name FROM table_name_8 WHERE location_of_the_church = "eikefjord"', 'SELECT MIN(week) FROM table_14945881_1 WHERE date = "September 19, 1976"', 'SELECT builder FROM table_name_92 WHERE works_number = "323"', 'SELECT date FROM table_name_43 WHERE venue = "pro player stadium" AND score = "4-1"', 'SELECT i_o_bus FROM table_24538587_11 WHERE socket = "LGA 1155" AND codename__main_article_ = "Sandy Bridge (Desktop)" AND brand_name__list_ = "Core i3-21xx"', 'SELECT COUNT(goals) FROM table_name_49 WHERE goal_ratio < 0.8 AND games = 56', 'SELECT result FROM table_name_95 WHERE score = "4-0"', 'SELECT T2.date_of_enrolment FROM Courses AS T1 JOIN Student_Course_Enrolment AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "Spanish"', 'SELECT _percentage_asian_american FROM table_18963843_1 WHERE indian_american_population__2010_ = 23526', 'SELECT team_s_ FROM table_26609690_1 WHERE winnings = "$15,785"', 'SELECT average_ratings FROM table_name_76 WHERE tv_station = "tbs" AND episodes = "10" AND japanese_title = "scandal"', 'SELECT MAX(pick__number) FROM table_10650711_1 WHERE player = "Anthony Blaylock"', 'SELECT AVG(expenditures_on_r) & d__billions_of_us$_, _ppp__ FROM table_name_32 WHERE country_region = "croatia" AND year > 2007', 'SELECT no_in_series FROM table_15861776_1 WHERE tv_broadcast = "S03E20"', 'SELECT position FROM table_name_69 WHERE venue = "rome" AND time < 40.2', 'SELECT region FROM table_name_15 WHERE date = "early september 1999"', 'SELECT opponent FROM table_name_10 WHERE record = "3-9"', 'SELECT time FROM table_name_32 WHERE heat = 4 AND name = "liu limin"', 'SELECT driver FROM table_name_72 WHERE grid < 17 AND points > 0 AND laps = 87 AND time_retired = "1:48:11.023"', 'SELECT route_of_administration FROM table_name_4 WHERE status = "several ongoing and complete"', 'SELECT AVG(goals_for) FROM table_name_53 WHERE goals_against > 59 AND club = "real avilés cf" AND goal_difference > -10', 'SELECT semifinals FROM table_26335424_86 WHERE round_of_16 = "Yulius Fernando ( INA ) L PTS 5-6"', 'SELECT title FROM table_26493520_3 WHERE total_viewers_on_fx = "483,000"', 'SELECT date FROM table_name_70 WHERE region = "europe" AND catalog = "28765 22392 8"', 'SELECT COUNT(year) FROM table_name_48 WHERE rank = "31"', 'SELECT supporting_actress FROM table_24225238_1 WHERE year = 1943', 'SELECT year_made FROM table_name_76 WHERE wheel_arrangement = "0-6-0" AND class = "302"', 'SELECT score FROM table_name_97 WHERE save = "postponed rescheduled for june 24"', 'SELECT COUNT(wins) FROM table_name_22 WHERE events < 2', 'SELECT class_a FROM table_14747043_1 WHERE class_aAAAA = Weslaco AND class_aAAA = Brownwood', 'SELECT name FROM table_name_14 WHERE laps < 159 AND time_retired = "4:00:30.7537 (retired - fire)"', 'SELECT opponent FROM table_name_5 WHERE attendance = "76,202"', 'SELECT type FROM table_name_19 WHERE bldr = "mcw&f" AND year < 1927 AND lt_nos = "9820-9821"', 'SELECT speed___iops__ FROM table_27615520_1 WHERE storage_medium = "eMLC Flash"', 'SELECT race FROM table_name_36 WHERE circuit = "las vegas motor speedway" AND length = "2 hours"', 'SELECT nationality FROM table_name_25 WHERE player = "tom cassidy"', 'SELECT COUNT(bronze) FROM table_name_6 WHERE nation = "jamaica (jam)" AND total < 7', 'SELECT position FROM table_1213511_6 WHERE player = "Jim Johnston"', 'SELECT result FROM table_name_37 WHERE round = "1r" AND surface = "hard" AND against = "tunisia"', 'SELECT round FROM table_name_17 WHERE record = "4-1"', 'SELECT host_city FROM table_name_85 WHERE president_in_office = "margaret thatcher" AND year = 1981', 'SELECT film_title_used_in_nomination FROM table_21655290_1 WHERE year__ceremony_ = "1990 (63rd)"', 'SELECT away_team FROM table_name_88 WHERE home_team = "collingwood"', 'SELECT frequency FROM table_name_79 WHERE sspec_number = "sl3bn(kc0)sl3e9(kc0)"', 'SELECT AVG(entrants) FROM table_name_21 WHERE winner = "frank gary"', 'SELECT COUNT(variant) FROM table_28035004_1 WHERE bodybuilder = "Northern Counties"', 'SELECT attendance FROM table_name_26 WHERE week = 7', 'SELECT organized_by FROM table_name_68 WHERE church_name = "alston church"', 'SELECT incumbent FROM table_1341663_44 WHERE district = "Texas 19"', 'SELECT SUM(attendance) FROM table_name_95 WHERE opponents = "hearts"', 'SELECT sign_in_bicker FROM table_name_27 WHERE location = "wash50 on washington rd"', 'SELECT league FROM table_name_38 WHERE number < 122 AND record = "least wins"', 'SELECT rebounds_per_game FROM table_2761641_1 WHERE tournament = "2006 FIBA World Championship"', 'SELECT record FROM table_name_57 WHERE game < 24 AND decision = "lundqvist" AND november < 8 AND opponent = "new york islanders"', 'SELECT winner FROM table_name_72 WHERE points_classification = "tony rominger" AND stage = "17"', 'SELECT country FROM table_name_9 WHERE year_s__won = "1983"', 'SELECT season FROM table_name_33 WHERE runs = "577"', 'SELECT position FROM table_name_7 WHERE number = 16', 'SELECT open_1st_viii FROM table_11318462_5 WHERE u15_6th_iv = "BGS"', 'SELECT engine FROM table_name_1 WHERE entrant = "mercedes amg petronas f1 team" AND points = "93"', 'SELECT role FROM table_name_51 WHERE registration = "s5-hpb"', 'SELECT zip_code FROM weather GROUP BY zip_code HAVING AVG(mean_visibility_miles) < 10', 'SELECT touchdowns FROM table_14342592_5 WHERE points = 22', 'SELECT AVG(bangladeshis_admitted) FROM table_name_23 WHERE nepalis_admitted = 714 AND pakistanis_admitted > 13 OFFSET 575', 'SELECT COUNT(kei) FROM table_23050383_1 WHERE economic_incentive_regime = "2.56"', 'SELECT first_season_of_current_spell_in_top_division FROM table_18143210_2 WHERE first_season_in_top_division = "1964-65"', 'SELECT visiting_team FROM table_name_77 WHERE final_score = "18-40"', 'SELECT races FROM table_name_47 WHERE points = "8"', 'SELECT result FROM table_name_33 WHERE nominated_work = "marlene" AND award = "olivier award"', 'SELECT event FROM table_name_82 WHERE opponent = "masato shiozawa"', 'SELECT height FROM table_name_69 WHERE name = "dylan postl"', 'SELECT gold FROM table_name_61 WHERE bronze = "kim sun-bin"', 'SELECT nationality FROM table_2886617_4 WHERE nhl_team = "Vancouver Canucks"', 'SELECT COUNT(starts) FROM table_name_47 WHERE driver = "nasser al-attiyah" AND points > 1', 'SELECT SUM(grid) FROM table_name_14 WHERE laps > 73 AND driver = "bruce mclaren"', 'SELECT AVG(T1.Age) FROM STUDENT AS T1 JOIN VOTING_RECORD AS T2 ON T1.StuID = SECRETARY_Vote WHERE T1.Sex = "F" AND T2.Election_Cycle = "Spring"', 'SELECT COUNT(models_produced) FROM table_250309_1 WHERE plant = "Castle Bromwich"', 'SELECT SUM(total) FROM table_name_37 WHERE gold > 2 AND bronze > 0', "SELECT role_code, street, city, state FROM professionals WHERE city LIKE '%West%'", 'SELECT mission FROM table_name_16 WHERE resident_country = "switzerland"', 'SELECT league FROM table_2553861_1 WHERE playoffs = "Conference Finals"', 'SELECT player FROM table_name_19 WHERE total = 160', 'SELECT MAX(money___) AS $__ FROM table_name_56 WHERE to_par = "–1" AND score = 73 - 70 - 73 - 71 = 287', 'SELECT attendance FROM table_name_38 WHERE record = "47–63"', 'SELECT record FROM table_name_77 WHERE score = "21-16"', 'SELECT score FROM table_name_19 WHERE partner = "lorenzo manta"', 'SELECT oberliga_südwest FROM table_name_82 WHERE oberliga_bayern = "fc schweinfurt 05"', 'SELECT runner_up FROM table_name_40 WHERE tournament = "algarve"', 'SELECT liberal_party FROM table_name_97 WHERE conservative_party = "16 (-1)" AND labour_party = "6 (+2)"', 'SELECT record FROM table_name_77 WHERE score = "7–6 (12)"', 'SELECT airdate FROM table_25721_3 WHERE dave_ja_vu_viewers = 106000', 'SELECT position FROM table_name_38 WHERE school = "ohio state" AND points = "412"', 'SELECT time_elapsed FROM table_name_52 WHERE launched = "15 october 1997" AND closest_approach = "24 june 1999"', 'SELECT frequency FROM table_name_53 WHERE callsign = "dybt"', "SELECT T1.name, T1.date FROM battle AS T1 JOIN ship AS T2 ON T1.id = T2.lost_in_battle WHERE T2.name = 'Lettice' INTERSECT SELECT T1.name, T1.date FROM battle AS T1 JOIN ship AS T2 ON T1.id = T2.lost_in_battle WHERE T2.name = 'HMS Atalanta'", 'SELECT COUNT(round) FROM table_name_1 WHERE time = "6:21"', 'SELECT MIN(crowd) FROM table_name_49 WHERE away_team = "footscray"', 'SELECT country FROM table_name_69 WHERE team = "eurasia astana"', 'SELECT constructor FROM table_name_46 WHERE winning_driver = "jack brabham" AND race = "monaco grand prix"', 'SELECT points FROM table_name_35 WHERE try_bonus = "2"', 'SELECT mccain_percentage FROM table_20539826_1 WHERE county = "DeBaca"', 'SELECT overall FROM table_name_9 WHERE combined = "1" AND downhill = "24"', 'SELECT recorded FROM table_name_83 WHERE track > 7 AND translation = "death"', 'SELECT MIN(week) FROM table_name_21 WHERE game_site = "mile high stadium" AND attendance > 75 OFFSET 007', 'SELECT MAX(points) FROM table_name_80 WHERE position = 5 AND played < 18', 'SELECT date FROM table_name_98 WHERE opponent = "cleveland browns"', 'SELECT MIN(gold) FROM table_name_24 WHERE bronze = 0 AND total < 2 AND silver < 0', 'SELECT MIN(points) FROM table_name_35 WHERE races > 16', 'SELECT flight_day FROM table_name_2 WHERE artist = "u2"', 'SELECT city FROM table_name_77 WHERE name = "jal hotel"', 'SELECT country FROM table_name_88 WHERE player = "geoff ogilvy"'

In [ ]:
  # 5. Training Loop (Main Refinement)
num_epochs = 10
for epoch in range(num_epochs):
    # Check if the training loader is empty
    if len(train_loader) == 0:
        print("Warning: Training loader is empty. Check your dataset and dataloader setup.")
        break  # Exit the training loop

    train(model, mistral_model, train_loader, optimizer, mistral_optimizer, epoch, num_epochs)

#Save GNN model - UNCOMMENT THESE LINES
%cd /content/
model.save_state_dict(f"gnn_model_epoch_{epoch+1}.pth")
print(f"GNN Model saved to gnn_model_epoch_{epoch+1}.pth")

In [ ]:
mistral_optimizer = optim.Adam(mistral_model.parameters(), lr=5e-5)

# Training Loop
num_epochs = 1  # Or your desired number of epochs
for epoch in tqdm(range(num_epochs), desc="Overall Training Progress"):
    train(model, mistral_model, train_loader, optimizer, mistral_optimizer, epoch, num_epochs)
    #evaluate(model, mistral_model, val_loader, bleu)

In [ ]:
def evaluate(model, mistral_model, loader, bleu):
    model.eval()
    mistral_model.eval()

    predictions = []
    references = []

    print(f"Number of examples in validation set: {len(loader.dataset)}")

    # Decode references only once
    for item in loader.dataset:
        if isinstance(item, dict):
            ref_tokens = item["answer"]
        elif isinstance(item, torch_geometric.data.Data):
            ref_tokens = item.y.tolist()  # Convert tensor to list
        else:
            raise ValueError(f"Unsupported data type in dataset: {type(item)}")

        # Handle potential issues with missing or invalid 'answer'
        if ref_tokens is not None:
            for token_list in ref_tokens:
                decoded_ref = tokenizer.decode(token_list, skip_special_tokens=True)
                references.append([decoded_ref])
        else:
            print("Warning: Skipping example with missing or invalid reference.")

    with torch.no_grad():
        for batch_data in tqdm(loader, desc="Evaluating"):
            if batch_data is None:
                continue

            data, questions, schemas, answers = batch_data

            graph_embeddings = []
            if data is not None:
                data = data.to(device)
                try:
                    graph_embeddings = model(data)
                except Exception as e:
                    print(f"Error generating graph embeddings: {e}")
                    continue  # Skip this batch if there's an error

            # If the model doesn't generate any embeddings, use an empty tensor
            if graph_embeddings is None or len(graph_embeddings) == 0:
                graph_embeddings = torch.tensor([])

            # Check if any graph embedding is non-zero
            if graph_embeddings.any():
                mistral_inputs = [f"Question: {q}\nSchema: {s}\nGraph Embedding: {g}"
                                  for q, s, g in zip(questions, schemas, graph_embeddings)]

                # Tokenize and generate SQL using Mistral
                tokenized_inputs = tokenizer(mistral_inputs, return_tensors="pt", padding=True, truncation=True).to(device)
                output_sequences = mistral_model.generate(**tokenized_inputs, max_new_tokens=128)
                generated_sql = tokenizer.batch_decode(output_sequences, skip_special_tokens=True)

                predictions.extend(generated_sql)

                # Print generated and reference SQL (for debugging purposes)
                print(f"Generated SQL: {generated_sql}")
                print(f"Reference SQL: {answers}")

    # Ensure both lists have the same length
    min_len = min(len(predictions), len(references))
    predictions = predictions[:min_len]
    references = references[:min_len]

    # ... (rest of the evaluate function)

    if predictions and references:
        try:
            bleu_scores = bleu.compute(predictions=predictions, references=references)  # Get the dictionary of BLEU scores
            bleu_score = bleu_scores["bleu"]  # Extract the overall BLEU score
            print(f"BLEU Score: {bleu_score:.4f}")
        except ZeroDivisionError:
            print("ZeroDivisionError during BLEU calculation. Likely no matching n-grams.")
    else:
        print("No valid predictions or references found for BLEU calculation.")

In [ ]:
%cd /content/
model = SQLGNN(input_dim, hidden_dim, output_dim)  # Recreate the model architecture
model.load_state_dict(torch.load(f"/content/gnn_model_epoch_{epoch+1}.pth"))  # Load the saved parameters
model.to(device)  # Move the model to the desired device (e.g., GPU)

In [ ]:
# Final Evaluation (using the best model)
evaluate(model, mistral_model, val_loader, bleu)