<a href="https://colab.research.google.com/github/frank-morales2020/Cloud_curious/blob/master/FM_DEMO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# 1. Flight Data
flight_data = [
    ("N12345", "B737", "SYD", "MEL", 1535, 1700, 160, "219", "213"),
    ("N12345", "B737", "MEL", "ADL", 1755, 1900, 150, "264", "245"),
    ("N12345", "B737", "ADL", "SYD", 2120, 2230, 140, "275", "295"),
    ("C67890", "A320", "SYD", "MEL", 1740, 1845, 170, "363", "211"),
    ("A90123", "E190", "MEL", "SYD", 1720, 1830, 95, "263", "245"),
    ("A90123", "E190", "SYD", "OOL", 1955, 2100, 85, "224", "280"),
    ("B34567", "B787", "SYD", "MEL", 1530, 1705, 250, "221", "210"),
    ("B34567", "B787", "MEL", "PER", 1850, 2110, 240, "286", "300"),
    ("D89012", "A330", "SYD", "MEL", 1500, 1615, 300, "307", "186"),
    ("D89012", "A330", "MEL", "ADL", 1750, 1900, 280, "298", "255"),
    ("D89012", "A330", "ADL", "MEL", 1955, 2100, 260, "268", "170"),
    ("E23456", "DH8D", "HTI", "BNE", 1520, 1555, 70, "383", "157"),
    ("E23456", "DH8D", "BNE", "SYD", 1725, 1800, 65, "349", "180"),
    ("E23456", "DH8D", "SYD", "DRW", 1935, 40, 60, "402", "188"),
    ("F67890", "A320", "SYD", "MEL", 1735, 1830, 175, "220", "165"),
    ("G90123", "E190", "CBR", "MEL", 1620, 1725, 105, "327", "145"),
    ("G90123", "E190", "MEL", "SYD", 1800, 1925, 100, "328", "166"),
    ("G90123", "E190", "SYD", "CBR", 2000, 2100, 90, "329", "57"),
    ("H34567", "B737", "SYD", "MEL", 1500, 1625, 155, "218", "180"),
    ("H34567", "B737", "MEL", "ADL", 1730, 1905, 145, "225", "136"),
    ("H34567", "B737", "ADL", "PER", 1940, 2035, 135, "266", "141"),
    ("H34567", "B737", "PER", "ADL", 2115, 2315, 125, "282", "175"),
    ("I89012", "A330", "PER", "MEL", 1230, 1800, 290, "286", "177"),
    ("I89012", "A330", "MEL", "BNE", 1910, 2120, 270, "348", "167"),
    ("J23456", "B737", "OOL", "MEL", 1410, 1630, 165, "337", "180"),
    ("J23456", "B737", "MEL", "SYD", 1745, 1910, 155, "309", "160"),
    ("J23456", "B737", "SYD", "MTCE", 2000, 2135, 145, "229", "123")
]

# 2. Database Operations
def create_and_populate_db(db_name="flight_data.db", data=flight_data):
    """
    Creates an SQLite database and populates it with flight data.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
        data (list, optional):   The flight data to insert into the database.
                                 Defaults to the flight_data list defined above.
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    # Drop the existing table if it exists to ensure a fresh start
    cursor.execute("DROP TABLE IF EXISTS Flights")

    # Create the table with a unique constraint
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Flights (
        AC_Tail TEXT,
        AC_Type TEXT,
        Origin TEXT,
        Destination TEXT,
        Departure_Time INTEGER,
        Arrival_Time INTEGER,
        Number_of_Passengers INTEGER,
        CAP TEXT,
        FO TEXT,
        Flight_Type TEXT,
        UNIQUE(AC_Tail, Origin, Destination)
    )
    """)
    print("Table created successfully")

    # Insert data using a loop and individual execute statements
    for row in data:
        try:
            # Calculate FTI
            departure_time = row[4]
            arrival_time = row[5]
            if arrival_time > departure_time:
                flight_time_interval = arrival_time - departure_time
            else:
                flight_time_interval = (arrival_time + 2400) - departure_time  # Handles flights that cross midnight

            flight_type = "Long-haul" if flight_time_interval >= 300 else "Short-haul"

            print(f"Inserting data: {row[0]}, {row[1]}, {row[2]}, {row[3]}, {row[4]}, {row[5]}, {row[6]}, {row[7]}, {row[8]}, {flight_type}")

            cursor.execute(f"""
            INSERT INTO Flights (AC_Tail, AC_Type, Origin, Destination, Departure_Time,
                                Arrival_Time, Number_of_Passengers, CAP, FO, Flight_Type)
            VALUES ('{row[0]}', '{row[1]}', '{row[2]}', '{row[3]}', {row[4]},
                    {row[5]}, {row[6]}, '{row[7]}', '{row[8]}', '{flight_type}')
            """)
        except sqlite3.IntegrityError:
            # Ignore duplicate rows
            pass

    conn.commit()
    conn.close()
    print(f"Database '{db_name}' created and data inserted successfully.")

# 3. Query Execution
def execute_query(db_name="flight_data.db", query="SELECT * FROM Flights LIMIT 5"):
    """
    Executes an SQL query against the database and prints the results.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
        query (str, optional):  The SQL query to execute.
                                 Defaults to a simple SELECT query.
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    print(f"Executing query: {query}")

    cursor.execute(query)
    results = cursor.fetchall()

    print(f"Query results: {results}")

    print("\nQuery Results:")
    for row in results:
        print(row)

    conn.close()

# 4. Example Queries (Analytics)
def run_analytics(db_name="flight_data.db"):
    """
    Executes and prints the results of several analytical SQL queries.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
    """
    print("\n--- Running Analytics ---")

    queries = {
        "Count of Flights by Aircraft Type": """
            SELECT AC_Type, COUNT(*) AS FlightCount
            FROM Flights
            GROUP BY AC_Type;
        """,
        "Flights Originating from SYD": """
            SELECT * FROM Flights
            WHERE Origin = 'SYD';
        """,
        "Avg. Passengers by Aircraft Type": """
            SELECT AC_Type, AVG(Number_of_Passengers) AS AveragePassengers
            FROM Flights
            GROUP BY AC_Type;
        """,
        "Earliest Departure Time": """
            SELECT * FROM Flights
            ORDER BY Departure_Time ASC
            LIMIT 1;
        """,
        "Latest Departure Time": """
            SELECT * FROM Flights
            ORDER BY Departure_Time DESC
            LIMIT 1;
        """,
        "CAP/FO Details": """
            SELECT AC_Tail, Origin, Destination, CAP, FO, Flight_Type
            FROM Flights;
        """,
        "Number of Unique Aircraft": """
            SELECT DISTINCT AC_Tail, AC_Type AS UniqueAircraftCount
            FROM Flights;
        """
    }

    for analysis, query in queries.items():
        print(f"\n--- {analysis} ---")
        execute_query(db_name, query)

# 5. Main Execution
if __name__ == "__main__":
    create_and_populate_db()  # Create the database and insert data
    run_analytics()           # Execute and display analytics queries

    # Example of a single query execution:
    # execute_query(query="SELECT * FROM Flights WHERE Origin = 'MEL'")

Table created successfully
Inserting data: N12345, B737, SYD, MEL, 1535, 1700, 160, 219, 213, Short-haul
Inserting data: N12345, B737, MEL, ADL, 1755, 1900, 150, 264, 245, Short-haul
Inserting data: N12345, B737, ADL, SYD, 2120, 2230, 140, 275, 295, Short-haul
Inserting data: C67890, A320, SYD, MEL, 1740, 1845, 170, 363, 211, Short-haul
Inserting data: A90123, E190, MEL, SYD, 1720, 1830, 95, 263, 245, Short-haul
Inserting data: A90123, E190, SYD, OOL, 1955, 2100, 85, 224, 280, Short-haul
Inserting data: B34567, B787, SYD, MEL, 1530, 1705, 250, 221, 210, Short-haul
Inserting data: B34567, B787, MEL, PER, 1850, 2110, 240, 286, 300, Short-haul
Inserting data: D89012, A330, SYD, MEL, 1500, 1615, 300, 307, 186, Short-haul
Inserting data: D89012, A330, MEL, ADL, 1750, 1900, 280, 298, 255, Short-haul
Inserting data: D89012, A330, ADL, MEL, 1955, 2100, 260, 268, 170, Short-haul
Inserting data: E23456, DH8D, HTI, BNE, 1520, 1555, 70, 383, 157, Short-haul
Inserting data: E23456, DH8D, BNE, SYD, 1725, 1800, 65, 349, 180, Short-haul
Inserting data: E23456, DH8D, SYD, DRW, 1935, 40, 60, 402, 188, Long-haul
Inserting data: F67890, A320, SYD, MEL, 1735, 1830, 175, 220, 165, Short-haul
Inserting data: G90123, E190, CBR, MEL, 1620, 1725, 105, 327, 145, Short-haul
Inserting data: G90123, E190, MEL, SYD, 1800, 1925, 100, 328, 166, Short-haul
Inserting data: G90123, E190, SYD, CBR, 2000, 2100, 90, 329, 57, Short-haul
Inserting data: H34567, B737, SYD, MEL, 1500, 1625, 155, 218, 180, Short-haul
Inserting data: H34567, B737, MEL, ADL, 1730, 1905, 145, 225, 136, Short-haul
Inserting data: H34567, B737, ADL, PER, 1940, 2035, 135, 266, 141, Short-haul
Inserting data: H34567, B737, PER, ADL, 2115, 2315, 125, 282, 175, Short-haul
Inserting data: I89012, A330, PER, MEL, 1230, 1800, 290, 286, 177, Long-haul
Inserting data: I89012, A330, MEL, BNE, 1910, 2120, 270, 348, 167, Short-haul
Inserting data: J23456, B737, OOL, MEL, 1410, 1630, 165, 337, 180, Short-haul
Inserting data: J23456, B737, MEL, SYD, 1745, 1910, 155, 309, 160, Short-haul
Inserting data: J23456, B737, SYD, MTCE, 2000, 2135, 145, 229, 123, Short-haul
Database 'flight_data.db' created and data inserted successfully.

--- Running Analytics ---

--- Count of Flights by Aircraft Type ---
Executing query:
            SELECT AC_Type, COUNT(*) AS FlightCount
            FROM Flights
            GROUP BY AC_Type;

Query results: [('A320', 2), ('A330', 5), ('B737', 10), ('B787', 2), ('DH8D', 3), ('E190', 5)]

Query Results:
('A320', 2)
('A330', 5)
('B737', 10)
('B787', 2)
('DH8D', 3)
('E190', 5)

--- Flights Originating from SYD ---
Executing query:
            SELECT * FROM Flights
            WHERE Origin = 'SYD';

Query results: [('N12345', 'B737', 'SYD', 'MEL', 1535, 1700, 160, '219', '213', 'Short-haul'), ('C67890', 'A320', 'SYD', 'MEL', 1740, 1845, 170, '363', '211', 'Short-haul'), ('A90123', 'E190', 'SYD', 'OOL', 1955, 2100, 85, '224', '280', 'Short-haul'), ('B34567', 'B787', 'SYD', 'MEL', 1530, 1705, 250, '221', '210', 'Short-haul'), ('D89012', 'A330', 'SYD', 'MEL', 1500, 1615, 300, '307', '186', 'Short-haul'), ('E23456', 'DH8D', 'SYD', 'DRW', 1935, 40, 60, '402', '188', 'Long-haul'), ('F67890', 'A320', 'SYD', 'MEL', 1735, 1830, 175, '220', '165', 'Short-haul'), ('G90123', 'E190', 'SYD', 'CBR', 2000, 2100, 90, '329', '57', 'Short-haul'), ('H34567', 'B737', 'SYD', 'MEL', 1500, 1625, 155, '218', '180', 'Short-haul'), ('J23456', 'B737', 'SYD', 'MTCE', 2000, 2135, 145, '229', '123', 'Short-haul')]

Query Results:
('N12345', 'B737', 'SYD', 'MEL', 1535, 1700, 160, '219', '213', 'Short-haul')
('C67890', 'A320', 'SYD', 'MEL', 1740, 1845, 170, '363', '211', 'Short-haul')
('A90123', 'E190', 'SYD', 'OOL', 1955, 2100, 85, '224', '280', 'Short-haul')
('B34567', 'B787', 'SYD', 'MEL', 1530, 1705, 250, '221', '210', 'Short-haul')
('D89012', 'A330', 'SYD', 'MEL', 1500, 1615, 300, '307', '186', 'Short-haul')
('E23456', 'DH8D', 'SYD', 'DRW', 1935, 40, 60, '402', '188', 'Long-haul')
('F67890', 'A320', 'SYD', 'MEL', 1735, 1830, 175, '220', '165', 'Short-haul')
('G90123', 'E190', 'SYD', 'CBR', 2000, 2100, 90, '329', '57', 'Short-haul')
('H34567', 'B737', 'SYD', 'MEL', 1500, 1625, 155, '218', '180', 'Short-haul')
('J23456', 'B737', 'SYD', 'MTCE', 2000, 2135, 145, '229', '123', 'Short-haul')

--- Avg. Passengers by Aircraft Type ---
Executing query:
            SELECT AC_Type, AVG(Number_of_Passengers) AS AveragePassengers
            FROM Flights
            GROUP BY AC_Type;

Query results: [('A320', 172.5), ('A330', 280.0), ('B737', 147.5), ('B787', 245.0), ('DH8D', 65.0), ('E190', 95.0)]

Query Results:
('A320', 172.5)
('A330', 280.0)
('B737', 147.5)
('B787', 245.0)
('DH8D', 65.0)
('E190', 95.0)

--- Earliest Departure Time ---
Executing query:
            SELECT * FROM Flights
            ORDER BY Departure_Time ASC
            LIMIT 1;

Query results: [('I89012', 'A330', 'PER', 'MEL', 1230, 1800, 290, '286', '177', 'Long-haul')]

Query Results:
('I89012', 'A330', 'PER', 'MEL', 1230, 1800, 290, '286', '177', 'Long-haul')

--- Latest Departure Time ---
Executing query:
            SELECT * FROM Flights
            ORDER BY Departure_Time DESC
            LIMIT 1;

Query results: [('N12345', 'B737', 'ADL', 'SYD', 2120, 2230, 140, '275', '295', 'Short-haul')]

Query Results:
('N12345', 'B737', 'ADL', 'SYD', 2120, 2230, 140, '275', '295', 'Short-haul')

--- CAP/FO Details ---
Executing query:
            SELECT AC_Tail, Origin, Destination, CAP, FO, Flight_Type
            FROM Flights;

Query results: [('N12345', 'SYD', 'MEL', '219', '213', 'Short-haul'), ('N12345', 'MEL', 'ADL', '264', '245', 'Short-haul'), ('N12345', 'ADL', 'SYD', '275', '295', 'Short-haul'), ('C67890', 'SYD', 'MEL', '363', '211', 'Short-haul'), ('A90123', 'MEL', 'SYD', '263', '245', 'Short-haul'), ('A90123', 'SYD', 'OOL', '224', '280', 'Short-haul'), ('B34567', 'SYD', 'MEL', '221', '210', 'Short-haul'), ('B34567', 'MEL', 'PER', '286', '300', 'Short-haul'), ('D89012', 'SYD', 'MEL', '307', '186', 'Short-haul'), ('D89012', 'MEL', 'ADL', '298', '255', 'Short-haul'), ('D89012', 'ADL', 'MEL', '268', '170', 'Short-haul'), ('E23456', 'HTI', 'BNE', '383', '157', 'Short-haul'), ('E23456', 'BNE', 'SYD', '349', '180', 'Short-haul'), ('E23456', 'SYD', 'DRW', '402', '188', 'Long-haul'), ('F67890', 'SYD', 'MEL', '220', '165', 'Short-haul'), ('G90123', 'CBR', 'MEL', '327', '145', 'Short-haul'), ('G90123', 'MEL', 'SYD', '328', '166', 'Short-haul'), ('G90123', 'SYD', 'CBR', '329', '57', 'Short-haul'), ('H34567', 'SYD', 'MEL', '218', '180', 'Short-haul'), ('H34567', 'MEL', 'ADL', '225', '136', 'Short-haul'), ('H34567', 'ADL', 'PER', '266', '141', 'Short-haul'), ('H34567', 'PER', 'ADL', '282', '175', 'Short-haul'), ('I89012', 'PER', 'MEL', '286', '177', 'Long-haul'), ('I89012', 'MEL', 'BNE', '348', '167', 'Short-haul'), ('J23456', 'OOL', 'MEL', '337', '180', 'Short-haul'), ('J23456', 'MEL', 'SYD', '309', '160', 'Short-haul'), ('J23456', 'SYD', 'MTCE', '229', '123', 'Short-haul')]

Query Results:
('N12345', 'SYD', 'MEL', '219', '213', 'Short-haul')
('N12345', 'MEL', 'ADL', '264', '245', 'Short-haul')
('N12345', 'ADL', 'SYD', '275', '295', 'Short-haul')
('C67890', 'SYD', 'MEL', '363', '211', 'Short-haul')
('A90123', 'MEL', 'SYD', '263', '245', 'Short-haul')
('A90123', 'SYD', 'OOL', '224', '280', 'Short-haul')
('B34567', 'SYD', 'MEL', '221', '210', 'Short-haul')
('B34567', 'MEL', 'PER', '286', '300', 'Short-haul')
('D89012', 'SYD', 'MEL', '307', '186', 'Short-haul')
('D89012', 'MEL', 'ADL', '298', '255', 'Short-haul')
('D89012', 'ADL', 'MEL', '268', '170', 'Short-haul')
('E23456', 'HTI', 'BNE', '383', '157', 'Short-haul')
('E23456', 'BNE', 'SYD', '349', '180', 'Short-haul')
('E23456', 'SYD', 'DRW', '402', '188', 'Long-haul')
('F67890', 'SYD', 'MEL', '220', '165', 'Short-haul')
('G90123', 'CBR', 'MEL', '327', '145', 'Short-haul')
('G90123', 'MEL', 'SYD', '328', '166', 'Short-haul')
('G90123', 'SYD', 'CBR', '329', '57', 'Short-haul')
('H34567', 'SYD', 'MEL', '218', '180', 'Short-haul')
('H34567', 'MEL', 'ADL', '225', '136', 'Short-haul')
('H34567', 'ADL', 'PER', '266', '141', 'Short-haul')
('H34567', 'PER', 'ADL', '282', '175', 'Short-haul')
('I89012', 'PER', 'MEL', '286', '177', 'Long-haul')
('I89012', 'MEL', 'BNE', '348', '167', 'Short-haul')
('J23456', 'OOL', 'MEL', '337', '180', 'Short-haul')
('J23456', 'MEL', 'SYD', '309', '160', 'Short-haul')
('J23456', 'SYD', 'MTCE', '229', '123', 'Short-haul')

--- Number of Unique Aircraft ---
Executing query:
            SELECT DISTINCT AC_Tail, AC_Type AS UniqueAircraftCount
            FROM Flights;

Query results: [('A90123', 'E190'), ('B34567', 'B787'), ('C67890', 'A320'), ('D89012', 'A330'), ('E23456', 'DH8D'), ('F67890', 'A320'), ('G90123', 'E190'), ('H34567', 'B737'), ('I89012', 'A330'), ('J23456', 'B737'), ('N12345', 'B737')]

Query Results:
('A90123', 'E190')
('B34567', 'B787')
('C67890', 'A320')
('D89012', 'A330')
('E23456', 'DH8D')
('F67890', 'A320')
('G90123', 'E190')
('H34567', 'B737')
('I89012', 'A330')
('J23456', 'B737')
('N12345', 'B737')

## Simulating Disruption Management

In [ ]:
import sqlite3
import datetime

# 1. Flight Data
flight_data = [
    ("N12345", "B737", "SYD", "MEL", 1535, 1700, 160, "219", "213"),
    ("N12345", "B737", "MEL", "ADL", 1755, 1900, 150, "264", "245"),
    ("N12345", "B737", "ADL", "SYD", 2120, 2230, 140, "275", "295"),
    ("C67890", "A320", "SYD", "MEL", 1740, 1845, 170, "363", "211"),
    ("A90123", "E190", "MEL", "SYD", 1720, 1830, 95, "263", "245"),
    ("A90123", "E190", "SYD", "OOL", 1955, 2100, 85, "224", "280"),
    ("B34567", "B787", "SYD", "MEL", 1530, 1705, 250, "221", "210"),
    ("B34567", "B787", "MEL", "PER", 1850, 2110, 240, "286", "300"),
    ("D89012", "A330", "SYD", "MEL", 1500, 1615, 300, "307", "186"),
    ("D89012", "A330", "MEL", "ADL", 1750, 1900, 280, "298", "255"),
    ("D89012", "A330", "ADL", "MEL", 1955, 2100, 260, "268", "170"),
    ("E23456", "DH8D", "HTI", "BNE", 1520, 1555, 70, "383", "157"),
    ("E23456", "DH8D", "BNE", "SYD", 1725, 1800, 65, "349", "180"),
    ("E23456", "DH8D", "SYD", "DRW", 1935, 40, 60, "402", "188"),
    ("F67890", "A320", "SYD", "MEL", 1735, 1830, 175, "220", "165"),
    ("G90123", "E190", "CBR", "MEL", 1620, 1725, 105, "327", "145"),
    ("G90123", "E190", "MEL", "SYD", 1800, 1925, 100, "328", "166"),
    ("G90123", "E190", "SYD", "CBR", 2000, 2100, 90, "329", "57"),
    ("H34567", "B737", "SYD", "MEL", 1500, 1625, 155, "218", "180"),
    ("H34567", "B737", "MEL", "ADL", 1730, 1905, 145, "225", "136"),
    ("H34567", "B737", "ADL", "PER", 1940, 2035, 135, "266", "141"),
    ("H34567", "B737", "PER", "ADL", 2115, 2315, 125, "282", "175"),
    ("I89012", "A330", "PER", "MEL", 1230, 1800, 290, "286", "177"),
    ("I89012", "A330", "MEL", "BNE", 1910, 2120, 270, "348", "167"),
    ("J23456", "B737", "OOL", "MEL", 1410, 1630, 165, "337", "180"),
    ("J23456", "B737", "MEL", "SYD", 1745, 1910, 155, "309", "160"),
    ("J23456", "B737", "SYD", "MTCE", 2000, 2135, 145, "229", "123")
]

# 2. Database Operations
def create_and_populate_db(db_name="flight_data.db", data=flight_data):
    """
    Creates an SQLite database and populates it with flight data.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
        data (list, optional):   The flight data to insert into the database.
                                 Defaults to the flight_data list defined above.
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    # Drop the existing table if it exists to ensure a fresh start
    cursor.execute("DROP TABLE IF EXISTS Flights")

    # Create the table with a unique constraint
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Flights (
        AC_Tail TEXT,
        AC_Type TEXT,
        Origin TEXT,
        Destination TEXT,
        Departure_Time INTEGER,
        Arrival_Time INTEGER,
        Number_of_Passengers INTEGER,
        CAP TEXT,
        FO TEXT,
        Flight_Type TEXT,
        Status TEXT,  -- Added for disruption management
        UNIQUE(AC_Tail, Origin, Destination)
    )
    """)
    print("Table created successfully")

    # Insert data using a loop and individual execute statements
    for row in data:
        try:
            # Calculate FTI
            departure_time = row[4]
            arrival_time = row[5]
            if arrival_time > departure_time:
                flight_time_interval = arrival_time - departure_time
            else:
                flight_time_interval = (arrival_time + 2400) - departure_time  # Handles flights that cross midnight

            flight_type = "Long-haul" if flight_time_interval >= 300 else "Short-haul"

            # Initialize flight status as "Scheduled"
            status = "Scheduled"

            print(f"Inserting data: {row[0]}, {row[1]}, {row[2]}, {row[3]}, {row[4]}, {row[5]}, {row[6]}, {row[7]}, {row[8]}, {flight_type}, {status}")

            cursor.execute(f"""
            INSERT INTO Flights (AC_Tail, AC_Type, Origin, Destination, Departure_Time,
                                Arrival_Time, Number_of_Passengers, CAP, FO, Flight_Type, Status)
            VALUES ('{row[0]}', '{row[1]}', '{row[2]}', '{row[3]}', {row[4]},
                    {row[5]}, {row[6]}, '{row[7]}', '{row[8]}', '{flight_type}', '{status}')
            """)
        except sqlite3.IntegrityError:
            # Ignore duplicate rows
            pass

    conn.commit()
    conn.close()
    print(f"Database '{db_name}' created and data inserted successfully.")

# 3. Query Execution
def execute_query(db_name="flight_data.db", query="SELECT * FROM Flights LIMIT 5"):
    """
    Executes an SQL query against the database and prints the results.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
        query (str, optional):  The SQL query to execute.
                                 Defaults to a simple SELECT query.
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    print(f"Executing query: {query}")

    cursor.execute(query)
    results = cursor.fetchall()

    print(f"Query results: {results}")

    print("\nQuery Results:")
    for row in results:
        print(row)

    conn.close()

# 4. Example Queries (Analytics)
def run_analytics(db_name="flight_data.db"):
    """
    Executes and prints the results of several analytical SQL queries.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
    """
    print("\n--- Running Analytics ---")

    queries = {
        "Count of Flights by Aircraft Type": """
            SELECT AC_Type, COUNT(*) AS FlightCount
            FROM Flights
            GROUP BY AC_Type;
        """,
        "Flights Originating from SYD": """
            SELECT * FROM Flights
            WHERE Origin = 'SYD';
        """,
        "Avg. Passengers by Aircraft Type": """
            SELECT AC_Type, AVG(Number_of_Passengers) AS AveragePassengers
            FROM Flights
            GROUP BY AC_Type;
        """,
        "Earliest Departure Time": """
            SELECT * FROM Flights
            ORDER BY Departure_Time ASC
            LIMIT 1;
        """,
        "Latest Departure Time": """
            SELECT * FROM Flights
            ORDER BY Departure_Time DESC
            LIMIT 1;
        """,
        "CAP/FO Details": """
            SELECT AC_Tail, Origin, Destination, CAP, FO, Flight_Type, Status
            FROM Flights;
        """,
        "Number of Unique Aircraft": """
            SELECT COUNT(DISTINCT AC_Tail) AS UniqueAircraftCount
            FROM Flights;
        """
    }

    for analysis, query in queries.items():
        print(f"\n--- {analysis} ---")
        execute_query(db_name, query)

# 5. Disruption Simulation
def simulate_disruption(db_name="flight_data.db", disruption_start=1700, disruption_end=1900, affected_airport="MEL"):
    """
    Simulates a weather disruption at a given airport and adjusts flight statuses.

    Args:
        db_name (str, optional): The name of the database file.
                                 Defaults to "flight_data.db".
        disruption_start (int, optional): The start time of the disruption (e.g., 1700).
                                         Defaults to 1700.
        disruption_end (int, optional): The end time of the disruption (e.g., 1900).
                                       Defaults to 1900.
        affected_airport (str, optional): The airport affected by the disruption.
                                          Defaults to "MEL".
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    print(f"\n--- Simulating Disruption at {affected_airport} from {disruption_start} to {disruption_end} ---")

    # Identify affected flights
    affected_flights_query = f"""
        SELECT AC_Tail, Origin, Destination, Departure_Time, Arrival_Time
        FROM Flights
        WHERE (Origin = '{affected_airport}' AND Departure_Time >= {disruption_start} AND Departure_Time < {disruption_end})
        OR (Destination = '{affected_airport}' AND Arrival_Time >= {disruption_start} AND Arrival_Time < {disruption_end})
    """
    cursor.execute(affected_flights_query)
    affected_flights = cursor.fetchall()

    print("\nAffected Flights:")
    for flight in affected_flights:
        print(flight)

    # Update flight statuses (simplified - in a real system, this would involve more complex logic)
    for flight in affected_flights:
        ac_tail = flight[0]
        origin = flight[1]
        destination = flight[2]

        # For simplicity, let's just mark these flights as "Delayed"
        update_status_query = f"""
            UPDATE Flights
            SET Status = 'Delayed'
            WHERE AC_Tail = '{ac_tail}' AND Origin = '{origin}' AND Destination = '{destination}'
        """
        cursor.execute(update_status_query)
        print(f"  Updated status for flight {ac_tail} from {origin} to {destination} to 'Delayed'")

    conn.commit()
    conn.close()
    print("\nDisruption simulation completed.")

# 6. Main Execution
if __name__ == "__main__":
    create_and_populate_db()  # Create the database and insert data
    run_analytics()  # Execute and display analytics queries

    # Simulate the disruption
    simulate_disruption()  # Defaults to MEL, 1700-1900, but you can change these

    # Show the updated flight information
    print("\n--- Flight Data After Disruption ---")
    execute_query(query="SELECT AC_Tail, Origin, Destination, Departure_Time, Arrival_Time, Status FROM Flights")

    # Example of a single query execution:
    # execute_query(query="SELECT * FROM Flights WHERE Origin = 'MEL'")

Table created successfully
Inserting data: N12345, B737, SYD, MEL, 1535, 1700, 160, 219, 213, Short-haul, Scheduled
Inserting data: N12345, B737, MEL, ADL, 1755, 1900, 150, 264, 245, Short-haul, Scheduled
Inserting data: N12345, B737, ADL, SYD, 2120, 2230, 140, 275, 295, Short-haul, Scheduled
Inserting data: C67890, A320, SYD, MEL, 1740, 1845, 170, 363, 211, Short-haul, Scheduled
Inserting data: A90123, E190, MEL, SYD, 1720, 1830, 95, 263, 245, Short-haul, Scheduled
Inserting data: A90123, E190, SYD, OOL, 1955, 2100, 85, 224, 280, Short-haul, Scheduled
Inserting data: B34567, B787, SYD, MEL, 1530, 1705, 250, 221, 210, Short-haul, Scheduled
Inserting data: B34567, B787, MEL, PER, 1850, 2110, 240, 286, 300, Short-haul, Scheduled
Inserting data: D89012, A330, SYD, MEL, 1500, 1615, 300, 307, 186, Short-haul, Scheduled
Inserting data: D89012, A330, MEL, ADL, 1750, 1900, 280, 298, 255, Short-haul, Scheduled
Inserting data: D89012, A330, ADL, MEL, 1955, 2100, 260, 268, 170, Short-haul, Scheduled
Inserting data: E23456, DH8D, HTI, BNE, 1520, 1555, 70, 383, 157, Short-haul, Scheduled
Inserting data: E23456, DH8D, BNE, SYD, 1725, 1800, 65, 349, 180, Short-haul, Scheduled
Inserting data: E23456, DH8D, SYD, DRW, 1935, 40, 60, 402, 188, Long-haul, Scheduled
Inserting data: F67890, A320, SYD, MEL, 1735, 1830, 175, 220, 165, Short-haul, Scheduled
Inserting data: G90123, E190, CBR, MEL, 1620, 1725, 105, 327, 145, Short-haul, Scheduled
Inserting data: G90123, E190, MEL, SYD, 1800, 1925, 100, 328, 166, Short-haul, Scheduled
Inserting data: G90123, E190, SYD, CBR, 2000, 2100, 90, 329, 57, Short-haul, Scheduled
Inserting data: H34567, B737, SYD, MEL, 1500, 1625, 155, 218, 180, Short-haul, Scheduled
Inserting data: H34567, B737, MEL, ADL, 1730, 1905, 145, 225, 136, Short-haul, Scheduled
Inserting data: H34567, B737, ADL, PER, 1940, 2035, 135, 266, 141, Short-haul, Scheduled
Inserting data: H34567, B737, PER, ADL, 2115, 2315, 125, 282, 175, Short-haul, Scheduled
Inserting data: I89012, A330, PER, MEL, 1230, 1800, 290, 286, 177, Long-haul, Scheduled
Inserting data: I89012, A330, MEL, BNE, 1910, 2120, 270, 348, 167, Short-haul, Scheduled
Inserting data: J23456, B737, OOL, MEL, 1410, 1630, 165, 337, 180, Short-haul, Scheduled
Inserting data: J23456, B737, MEL, SYD, 1745, 1910, 155, 309, 160, Short-haul, Scheduled
Inserting data: J23456, B737, SYD, MTCE, 2000, 2135, 145, 229, 123, Short-haul, Scheduled
Database 'flight_data.db' created and data inserted successfully.

--- Running Analytics ---

--- Count of Flights by Aircraft Type ---
Executing query:
            SELECT AC_Type, COUNT(*) AS FlightCount
            FROM Flights
            GROUP BY AC_Type;

Query results: [('A320', 2), ('A330', 5), ('B737', 10), ('B787', 2), ('DH8D', 3), ('E190', 5)]

Query Results:
('A320', 2)
('A330', 5)
('B737', 10)
('B787', 2)
('DH8D', 3)
('E190', 5)

--- Flights Originating from SYD ---
Executing query:
            SELECT * FROM Flights
            WHERE Origin = 'SYD';

Query results: [('N12345', 'B737', 'SYD', 'MEL', 1535, 1700, 160, '219', '213', 'Short-haul', 'Scheduled'), ('C67890', 'A320', 'SYD', 'MEL', 1740, 1845, 170, '363', '211', 'Short-haul', 'Scheduled'), ('A90123', 'E190', 'SYD', 'OOL', 1955, 2100, 85, '224', '280', 'Short-haul', 'Scheduled'), ('B34567', 'B787', 'SYD', 'MEL', 1530, 1705, 250, '221', '210', 'Short-haul', 'Scheduled'), ('D89012', 'A330', 'SYD', 'MEL', 1500, 1615, 300, '307', '186', 'Short-haul', 'Scheduled'), ('E23456', 'DH8D', 'SYD', 'DRW', 1935, 40, 60, '402', '188', 'Long-haul', 'Scheduled'), ('F67890', 'A320', 'SYD', 'MEL', 1735, 1830, 175, '220', '165', 'Short-haul', 'Scheduled'), ('G90123', 'E190', 'SYD', 'CBR', 2000, 2100, 90, '329', '57', 'Short-haul', 'Scheduled'), ('H34567', 'B737', 'SYD', 'MEL', 1500, 1625, 155, '218', '180', 'Short-haul', 'Scheduled'), ('J23456', 'B737', 'SYD', 'MTCE', 2000, 2135, 145, '229', '123', 'Short-haul', 'Scheduled')]

Query Results:
('N12345', 'B737', 'SYD', 'MEL', 1535, 1700, 160, '219', '213', 'Short-haul', 'Scheduled')
('C67890', 'A320', 'SYD', 'MEL', 1740, 1845, 170, '363', '211', 'Short-haul', 'Scheduled')
('A90123', 'E190', 'SYD', 'OOL', 1955, 2100, 85, '224', '280', 'Short-haul', 'Scheduled')
('B34567', 'B787', 'SYD', 'MEL', 1530, 1705, 250, '221', '210', 'Short-haul', 'Scheduled')
('D89012', 'A330', 'SYD', 'MEL', 1500, 1615, 300, '307', '186', 'Short-haul', 'Scheduled')
('E23456', 'DH8D', 'SYD', 'DRW', 1935, 40, 60, '402', '188', 'Long-haul', 'Scheduled')
('F67890', 'A320', 'SYD', 'MEL', 1735, 1830, 175, '220', '165', 'Short-haul', 'Scheduled')
('G90123', 'E190', 'SYD', 'CBR', 2000, 2100, 90, '329', '57', 'Short-haul', 'Scheduled')
('H34567', 'B737', 'SYD', 'MEL', 1500, 1625, 155, '218', '180', 'Short-haul', 'Scheduled')
('J23456', 'B737', 'SYD', 'MTCE', 2000, 2135, 145, '229', '123', 'Short-haul', 'Scheduled')

--- Avg. Passengers by Aircraft Type ---
Executing query:
            SELECT AC_Type, AVG(Number_of_Passengers) AS AveragePassengers
            FROM Flights
            GROUP BY AC_Type;

Query results: [('A320', 172.5), ('A330', 280.0), ('B737', 147.5), ('B787', 245.0), ('DH8D', 65.0), ('E190', 95.0)]

Query Results:
('A320', 172.5)
('A330', 280.0)
('B737', 147.5)
('B787', 245.0)
('DH8D', 65.0)
('E190', 95.0)

--- Earliest Departure Time ---
Executing query:
            SELECT * FROM Flights
            ORDER BY Departure_Time ASC
            LIMIT 1;

Query results: [('I89012', 'A330', 'PER', 'MEL', 1230, 1800, 290, '286', '177', 'Long-haul', 'Scheduled')]

Query Results:
('I89012', 'A330', 'PER', 'MEL', 1230, 1800, 290, '286', '177', 'Long-haul', 'Scheduled')

--- Latest Departure Time ---
Executing query:
            SELECT * FROM Flights
            ORDER BY Departure_Time DESC
            LIMIT 1;

Query results: [('N12345', 'B737', 'ADL', 'SYD', 2120, 2230, 140, '275', '295', 'Short-haul', 'Scheduled')]

Query Results:
('N12345', 'B737', 'ADL', 'SYD', 2120, 2230, 140, '275', '295', 'Short-haul', 'Scheduled')

--- CAP/FO Details ---
Executing query:
            SELECT AC_Tail, Origin, Destination, CAP, FO, Flight_Type, Status
            FROM Flights;

Query results: [('N12345', 'SYD', 'MEL', '219', '213', 'Short-haul', 'Scheduled'), ('N12345', 'MEL', 'ADL', '264', '245', 'Short-haul', 'Scheduled'), ('N12345', 'ADL', 'SYD', '275', '295', 'Short-haul', 'Scheduled'), ('C67890', 'SYD', 'MEL', '363', '211', 'Short-haul', 'Scheduled'), ('A90123', 'MEL', 'SYD', '263', '245', 'Short-haul', 'Scheduled'), ('A90123', 'SYD', 'OOL', '224', '280', 'Short-haul', 'Scheduled'), ('B34567', 'SYD', 'MEL', '221', '210', 'Short-haul', 'Scheduled'), ('B34567', 'MEL', 'PER', '286', '300', 'Short-haul', 'Scheduled'), ('D89012', 'SYD', 'MEL', '307', '186', 'Short-haul', 'Scheduled'), ('D89012', 'MEL', 'ADL', '298', '255', 'Short-haul', 'Scheduled'), ('D89012', 'ADL', 'MEL', '268', '170', 'Short-haul', 'Scheduled'), ('E23456', 'HTI', 'BNE', '383', '157', 'Short-haul', 'Scheduled'), ('E23456', 'BNE', 'SYD', '349', '180', 'Short-haul', 'Scheduled'), ('E23456', 'SYD', 'DRW', '402', '188', 'Long-haul', 'Scheduled'), ('F67890', 'SYD', 'MEL', '220', '165', 'Short-haul', 'Scheduled'), ('G90123', 'CBR', 'MEL', '327', '145', 'Short-haul', 'Scheduled'), ('G90123', 'MEL', 'SYD', '328', '166', 'Short-haul', 'Scheduled'), ('G90123', 'SYD', 'CBR', '329', '57', 'Short-haul', 'Scheduled'), ('H34567', 'SYD', 'MEL', '218', '180', 'Short-haul', 'Scheduled'), ('H34567', 'MEL', 'ADL', '225', '136', 'Short-haul', 'Scheduled'), ('H34567', 'ADL', 'PER', '266', '141', 'Short-haul', 'Scheduled'), ('H34567', 'PER', 'ADL', '282', '175', 'Short-haul', 'Scheduled'), ('I89012', 'PER', 'MEL', '286', '177', 'Long-haul', 'Scheduled'), ('I89012', 'MEL', 'BNE', '348', '167', 'Short-haul', 'Scheduled'), ('J23456', 'OOL', 'MEL', '337', '180', 'Short-haul', 'Scheduled'), ('J23456', 'MEL', 'SYD', '309', '160', 'Short-haul', 'Scheduled'), ('J23456', 'SYD', 'MTCE', '229', '123', 'Short-haul', 'Scheduled')]

Query Results:
('N12345', 'SYD', 'MEL', '219', '213', 'Short-haul', 'Scheduled')
('N12345', 'MEL', 'ADL', '264', '245', 'Short-haul', 'Scheduled')
('N12345', 'ADL', 'SYD', '275', '295', 'Short-haul', 'Scheduled')
('C67890', 'SYD', 'MEL', '363', '211', 'Short-haul', 'Scheduled')
('A90123', 'MEL', 'SYD', '263', '245', 'Short-haul', 'Scheduled')
('A90123', 'SYD', 'OOL', '224', '280', 'Short-haul', 'Scheduled')
('B34567', 'SYD', 'MEL', '221', '210', 'Short-haul', 'Scheduled')
('B34567', 'MEL', 'PER', '286', '300', 'Short-haul', 'Scheduled')
('D89012', 'SYD', 'MEL', '307', '186', 'Short-haul', 'Scheduled')
('D89012', 'MEL', 'ADL', '298', '255', 'Short-haul', 'Scheduled')
('D89012', 'ADL', 'MEL', '268', '170', 'Short-haul', 'Scheduled')
('E23456', 'HTI', 'BNE', '383', '157', 'Short-haul', 'Scheduled')
('E23456', 'BNE', 'SYD', '349', '180', 'Short-haul', 'Scheduled')
('E23456', 'SYD', 'DRW', '402', '188', 'Long-haul', 'Scheduled')
('F67890', 'SYD', 'MEL', '220', '165', 'Short-haul', 'Scheduled')
('G90123', 'CBR', 'MEL', '327', '145', 'Short-haul', 'Scheduled')
('G90123', 'MEL', 'SYD', '328', '166', 'Short-haul', 'Scheduled')
('G90123', 'SYD', 'CBR', '329', '57', 'Short-haul', 'Scheduled')
('H34567', 'SYD', 'MEL', '218', '180', 'Short-haul', 'Scheduled')
('H34567', 'MEL', 'ADL', '225', '136', 'Short-haul', 'Scheduled')
('H34567', 'ADL', 'PER', '266', '141', 'Short-haul', 'Scheduled')
('H34567', 'PER', 'ADL', '282', '175', 'Short-haul', 'Scheduled')
('I89012', 'PER', 'MEL', '286', '177', 'Long-haul', 'Scheduled')
('I89012', 'MEL', 'BNE', '348', '167', 'Short-haul', 'Scheduled')
('J23456', 'OOL', 'MEL', '337', '180', 'Short-haul', 'Scheduled')
('J23456', 'MEL', 'SYD', '309', '160', 'Short-haul', 'Scheduled')
('J23456', 'SYD', 'MTCE', '229', '123', 'Short-haul', 'Scheduled')

--- Number of Unique Aircraft ---
Executing query:
            SELECT COUNT(DISTINCT AC_Tail) AS UniqueAircraftCount
            FROM Flights;

Query results: [(11,)]

Query Results:
(11,)

--- Simulating Disruption at MEL from 1700 to 1900 ---

Affected Flights:
('N12345', 'SYD', 'MEL', 1535, 1700)
('N12345', 'MEL', 'ADL', 1755, 1900)
('C67890', 'SYD', 'MEL', 1740, 1845)
('A90123', 'MEL', 'SYD', 1720, 1830)
('B34567', 'SYD', 'MEL', 1530, 1705)
('B34567', 'MEL', 'PER', 1850, 2110)
('D89012', 'MEL', 'ADL', 1750, 1900)
('F67890', 'SYD', 'MEL', 1735, 1830)
('G90123', 'CBR', 'MEL', 1620, 1725)
('G90123', 'MEL', 'SYD', 1800, 1925)
('H34567', 'MEL', 'ADL', 1730, 1905)
('I89012', 'PER', 'MEL', 1230, 1800)
('J23456', 'MEL', 'SYD', 1745, 1910)
  Updated status for flight N12345 from SYD to MEL to 'Delayed'
  Updated status for flight N12345 from MEL to ADL to 'Delayed'
  Updated status for flight C67890 from SYD to MEL to 'Delayed'
  Updated status for flight A90123 from MEL to SYD to 'Delayed'
  Updated status for flight B34567 from SYD to MEL to 'Delayed'
  Updated status for flight B34567 from MEL to PER to 'Delayed'
  Updated status for flight D89012 from MEL to ADL to 'Delayed'
  Updated status for flight F67890 from SYD to MEL to 'Delayed'
  Updated status for flight G90123 from CBR to MEL to 'Delayed'
  Updated status for flight G90123 from MEL to SYD to 'Delayed'
  Updated status for flight H34567 from MEL to ADL to 'Delayed'
  Updated status for flight I89012 from PER to MEL to 'Delayed'
  Updated status for flight J23456 from MEL to SYD to 'Delayed'

Disruption simulation completed.

--- Flight Data After Disruption ---
Executing query: SELECT AC_Tail, Origin, Destination, Departure_Time, Arrival_Time, Status FROM Flights
Query results: [('N12345', 'SYD', 'MEL', 1535, 1700, 'Delayed'), ('N12345', 'MEL', 'ADL', 1755, 1900, 'Delayed'), ('N12345', 'ADL', 'SYD', 2120, 2230, 'Scheduled'), ('C67890', 'SYD', 'MEL', 1740, 1845, 'Delayed'), ('A90123', 'MEL', 'SYD', 1720, 1830, 'Delayed'), ('A90123', 'SYD', 'OOL', 1955, 2100, 'Scheduled'), ('B34567', 'SYD', 'MEL', 1530, 1705, 'Delayed'), ('B34567', 'MEL', 'PER', 1850, 2110, 'Delayed'), ('D89012', 'SYD', 'MEL', 1500, 1615, 'Scheduled'), ('D89012', 'MEL', 'ADL', 1750, 1900, 'Delayed'), ('D89012', 'ADL', 'MEL', 1955, 2100, 'Scheduled'), ('E23456', 'HTI', 'BNE', 1520, 1555, 'Scheduled'), ('E23456', 'BNE', 'SYD', 1725, 1800, 'Scheduled'), ('E23456', 'SYD', 'DRW', 1935, 40, 'Scheduled'), ('F67890', 'SYD', 'MEL', 1735, 1830, 'Delayed'), ('G90123', 'CBR', 'MEL', 1620, 1725, 'Delayed'), ('G90123', 'MEL', 'SYD', 1800, 1925, 'Delayed'), ('G90123', 'SYD', 'CBR', 2000, 2100, 'Scheduled'), ('H34567', 'SYD', 'MEL', 1500, 1625, 'Scheduled'), ('H34567', 'MEL', 'ADL', 1730, 1905, 'Delayed'), ('H34567', 'ADL', 'PER', 1940, 2035, 'Scheduled'), ('H34567', 'PER', 'ADL', 2115, 2315, 'Scheduled'), ('I89012', 'PER', 'MEL', 1230, 1800, 'Delayed'), ('I89012', 'MEL', 'BNE', 1910, 2120, 'Scheduled'), ('J23456', 'OOL', 'MEL', 1410, 1630, 'Scheduled'), ('J23456', 'MEL', 'SYD', 1745, 1910, 'Delayed'), ('J23456', 'SYD', 'MTCE', 2000, 2135, 'Scheduled')]

Query Results:
('N12345', 'SYD', 'MEL', 1535, 1700, 'Delayed')
('N12345', 'MEL', 'ADL', 1755, 1900, 'Delayed')
('N12345', 'ADL', 'SYD', 2120, 2230, 'Scheduled')
('C67890', 'SYD', 'MEL', 1740, 1845, 'Delayed')
('A90123', 'MEL', 'SYD', 1720, 1830, 'Delayed')
('A90123', 'SYD', 'OOL', 1955, 2100, 'Scheduled')
('B34567', 'SYD', 'MEL', 1530, 1705, 'Delayed')
('B34567', 'MEL', 'PER', 1850, 2110, 'Delayed')
('D89012', 'SYD', 'MEL', 1500, 1615, 'Scheduled')
('D89012', 'MEL', 'ADL', 1750, 1900, 'Delayed')
('D89012', 'ADL', 'MEL', 1955, 2100, 'Scheduled')
('E23456', 'HTI', 'BNE', 1520, 1555, 'Scheduled')
('E23456', 'BNE', 'SYD', 1725, 1800, 'Scheduled')
('E23456', 'SYD', 'DRW', 1935, 40, 'Scheduled')
('F67890', 'SYD', 'MEL', 1735, 1830, 'Delayed')
('G90123', 'CBR', 'MEL', 1620, 1725, 'Delayed')
('G90123', 'MEL', 'SYD', 1800, 1925, 'Delayed')
('G90123', 'SYD', 'CBR', 2000, 2100, 'Scheduled')
('H34567', 'SYD', 'MEL', 1500, 1625, 'Scheduled')
('H34567', 'MEL', 'ADL', 1730, 1905, 'Delayed')
('H34567', 'ADL', 'PER', 1940, 2035, 'Scheduled')
('H34567', 'PER', 'ADL', 2115, 2315, 'Scheduled')
('I89012', 'PER', 'MEL', 1230, 1800, 'Delayed')
('I89012', 'MEL', 'BNE', 1910, 2120, 'Scheduled')
('J23456', 'OOL', 'MEL', 1410, 1630, 'Scheduled')
('J23456', 'MEL', 'SYD', 1745, 1910, 'Delayed')
('J23456', 'SYD', 'MTCE', 2000, 2135, 'Scheduled')